@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;800&display=swap');

html {
    font-size: 62.5%;
    background-color: #f2f1df;
}

body {
    overflow: auto;
}

.main-text {
    font-family: "Permanent Marker", Helvetica, Arial, sans-serif;
    color: #068bbf;
}

.subtext {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #f2acc6;
}
.title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin: 0.5rem 0;
}

.title-text {
    font-size: 4.5rem;
    margin: 0 auto;
}

.mechanics {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.mechanics-text {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0 auto;
}

.result-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    text-align: center;
    margin: 0.5rem 0;
}

.result-text {
    font-size: 3rem;
    padding: 0;
}

.scores-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    height: 3rem;
    padding: 0.5rem;
    flex-wrap: wrap;
    text-align: center;
    margin: 0.5rem auto;
    padding: 0;
}

.player-container,
.computer-container {
    width: 50%;
    display: flex;
    justify-content: center;

}

.win {
    font-size: 2rem;
    color: #58a681;
}

.selection-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    min-height: 30vh;
    max-height: 45vh;
}

#player-selection,
#computer-selection {
    max-height: 45vh;
    height: auto;
    width: 50%;
}

.instruction {
    display: flex;
    justify-content: center;
    align-items: center;
}

#instruction-text {
    font-size: 2rem;
    margin: 0;
}
.options-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    max-width: 100%;
    margin-top: 1rem;
}

.options {
    max-width: 8rem;
    height: auto;
}

.options:hover {
    opacity: 0.8;
    transform: scale(1.1);
}

#modal[open] {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 50ch;
    max-width: 80ch;
    padding: 1rem 2rem;
    background-color: #f2f1df;
    border: 2px solid #068bbf;
    border-radius: 1rem;
    box-shadow: 0 0 1em rgb(0 0 0 / .3);
}

#modal::backdrop {
    background: rgb(0 0 0 / .4);
}

#play-again-button {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 2rem;
    font-weight: 700;
    background-color: #f2acc6;
    color: #068bbf;
    outline: none;
    border: 2px solid #f2acc6;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    margin-bottom: 2rem;
}

#play-again-button:hover {
    background-color: #f26d6d;
    opacity: 0.8;

}

#modal-text,
#final-result {
    font-size: 2.5rem;
}