@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;800&display=swap');

html {
    font-size: 10px;
    background-color: #f2f1df;
}

.main-text {
    font-family: "Permanent Marker", Helvetica, Arial, sans-serif;
    color: #068bbf;
}

.subtext {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #f2acc6;
}
.title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.title-text {
    font-size: 4rem;
    padding-top: 1rem;
    margin: 0;
}

.mechanics {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mechanics-text {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
}

.result-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.5rem;
}

.result-text {
    font-size: 3rem;
    padding: 0;
}

.scores-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    font-size: 2rem;
    font-weight: bold;
    height: 3rem;
    padding: 0.5rem;
}

.player-container,
.computer-container {
    width: 50%;
    display: flex;
    justify-content: center;
    
}

.win {
    font-size: 2.5rem;
    color: #58a681;
}

.selection-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    height: 45vh;
}

#player-selection,
#computer-selection {
    max-height: 45vh;
    height: auto;
    width: 50%;
}

.instruction {
    display: flex;
    justify-content: center;
    align-items: center;
}

#instruction-text {
    font-size: 2rem;
    margin: 0;  
}
.options-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    max-width: 100%;
    margin-top: 1rem;
}

.options {
    max-width: 8rem;
    height: auto;
}

.options:hover {
    opacity: 0.8;
    transform: scale(1.1);
}

#modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 15rem;
    width: 45rem;
}

#modal-overlay.show {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
}


#modal.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f2f1df;
    border: 2px solid #068bbf;
    border-radius: 1rem;
    gap: 0;
    z-index: 9999;
}

#play-again-button {
    height: 4.5rem;
    width: 17rem;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 2rem;
    font-weight: 700;
    background-color: #f2acc6;
    color: #068bbf;
    outline: none;
    border: 2px solid #f2acc6;
    border-radius: 1rem;
    padding: 0.25rem;
    margin-bottom: 2rem;
    margin-top: -1rem;

}

#play-again-button:hover {
    background-color: #f26d6d;
    opacity: 0.8;

}

#modal-text,
#final-result {
    font-size: 2.5rem;
}